<h1 class="text-center">on deck</h1>

<div class="container card-columns">
    {{#each movies}}
    {{#unless watched}}
    <div class="card" style="width: 18rem;">
        <img src="{{poster}}" class="card-img-top" alt="poster">
        <div class="card-body">
            <h5 class="card-title">{{movie_title}}</h5>
            <p class="card-text">{{summary}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Actors: {{actors}}</li>
            <li class="list-group-item">Release Year: {{release_year}}</li>
            <li class="list-group-item">Rotten Tomatoes Rating: {{rt_rating}}</li>
        </ul>
        <div class="card-body">
            {{!-- <form action="/movies/watched/{{this.id}}" method="POST"> --}}
                <button id="{{this.id}}" href="#"  class="card-link watched btn btn-success">Watched</button>
                <button id="{{this.id}}" href="#"  class="card-link delete btn btn-danger">Delete</button>
                
            {{!-- </form> --}}
        </div>
    </div>
    {{/unless}}
    {{/each}}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/index.js"></script>