<h1 class="text-center title p-3">on deck</h1>

<div class="container">
    <div class="card-columns">
        {{#each movies}}
        {{#unless watched}}
        <div class="card shadow bg-dark text-warning">
            <img src="{{poster}}" class="card-img-top" alt="poster">
            <div class="card-body ">
                <h5 class="card-title">{{movie_title}}</h5>
                <p class="card-text">{{summary}}</p>
            </div>
            <ul class="list-group list-group-flush bg-dark">
                <li class="list-group-item bg-dark"><strong>Actors:</strong> {{actors}}</li>
                <li class="list-group-item bg-dark"><strong>Release Year: </strong>{{release_year}}</li>
                <li class="list-group-item bg-dark"><strong>Rotten Tomatoes: </strong>{{rt_rating}}</li>
            </ul>
            <div class="card-body bg-dark d-md-flex-column align-items-center">
                {{!-- <form action="/movies/watched/{{this.id}}" method="POST"> --}}

                <button id="{{this.id}}" href="#" class="card-link watched btn btn-warning">Watched</button>
                <button id="{{this.id}}" href="#" class="card-link delete btn btn-danger">Delete</button>
                <button data-title="{{this.movie_title}}" data-toggle="modal" data-target="#exampleModal" href="#"
                    class="card-link trailer btn btn-light">Trailer</button>


                {{!-- </form> --}}
            </div>

        </div>
        {{/unless}}
        {{/each}}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark text-warning">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Watch trailer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BdJKm16Co6M"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/index.js"></script>