<h1 class="text-center title p-3">watched</h1>

<div class="container card-columns">
    {{#each movies}}
    {{#if watched}}
    <div class="card">
        <img src="{{poster}}" class="card-img-top" alt="poster">
        <div class="card-body bg-dark text-warning">
            <h5 class="card-title">{{movie_title}}</h5>
            <p class="card-text">{{summary}}</p>
        </div>
        <ul class="list-group list-group-flush bg-dark text-warning">
            <li class="list-group-item bg-dark"><strong>Actors:</strong> {{actors}}</li>
            <li class="list-group-item bg-dark"><strong>Release Year: </strong>{{release_year}}</li>
            <li class="list-group-item bg-dark"><strong>Rotten Tomatoes:</strong> {{rt_rating}}</li>
        </ul>
        <div class="card-body bg-dark">
            <button id="{{this.id}}" class="btn btn-danger delete-watched">Delete</button>
        </div>
   
    </div>
    {{/if}}
    {{/each}}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/index.js"></script>